version: "3.9"

services:
  frontend:
    container_name: next-fe
    build:
      context: ./Velora-Frontpage
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:5000
    depends_on:
      - backend

  backend:
    container_name: bun-be
    build:
      context: ./Velora-Backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    command: ["bun", "run", "src/serve.ts"]
